<div class="card">
	<h1 class="card-title">Add Sites</h1>
	<form id="site_form">
	  
	  <div class="form-row mt-2 mb-2">
	    <div class="col">
	      <input name="name" type="text" class="form-control site_name" placeholder="Site Name" required="">
	    </div>
	    <div class="col">
	      <input name="description" type="text" class="form-control site_description" placeholder="Site Description" required="">
	    </div>
	    <div class="col">
	      <select name="dsuId" class="form-control dsu_id" placeholder="Site DSU" required="">
	      	<option value="">Select a DSU</option>
	      	{{#each this}}
				<option value="{{id}}">{{name}} - {{description}}</option>
	      	{{/each}}
	      </select>
	    </div>
	    <div class="col-auto">
	    	<div class="btn btn-danger remove-row"><i class="fa fa-fw fa-trash-alt"></i></div>
	    </div>
	    <div class="col result"></div>
	  </div>
	</form>
	
	
	<div class="form-row mt-3">
		<div class="col">
			<div class="btn btn-light" id="new_row">Add New Row</div>
			<div class="btn btn-primary" id="save_rows">Save Sites</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('form').dirtyForms();
	
	var template = $('#site_form .form-row:first').clone();

	$('#new_row').on('click', function(){
		var section = template.clone().appendTo('#site_form');
		return false;
	});

	$('body').on('click', '.remove-row', function() {
	    $(this).parent().fadeOut(300, function(){
	        $(this).parent().remove();
	        return false;
	    });
	    return false;
	});

	$('#save_rows').on('click', function(){
		//validate form
		if( ! $('#site_form').parsley().validate() ) { return false; } 

		$('#site_form>.form-row').each(function (e, t) {
			var row = $(t);
			name = row.find('.site_name').val();
			description = row.find('.site_description').val();
			dsuId = row.find('.dsu_id').val();
			
			$.when( ee_challenge.addSite(dsuId, name, description) ).done(function(data, textStatus, jqXHR){
				row.replaceWith('<div class="alert alert-success mt-2 mb-2">Site Added</div>');
			}).fail(function(data, textStatus, jqXHR){
				row.find('.result').find('.alert').remove();
				row.find('.result').append(`<div class="alert alert-danger">${data.responseText}</div>`);
			});
		});

		$('form').dirtyForms('setClean');
	});
</script>