<div class="card">
	<h1 class="card-title">Add DSUs</h1>
	<form id="dsu_form">
	  
	  <div class="form-row mt-2 mb-2">
	    <div class="col">
	    	<label class="sr-only">DSU Name</label>
	      	<input name="name" type="text" class="form-control dsu_name" placeholder="DSU Name" required="">
	    </div>
	    <div class="col">
	    	<label class="sr-only">DSU Description</label>
	      	<input name="description" type="text" class="form-control dsu_description" placeholder="DSU Description" required="">
	    </div>
	    <div class="col">
	    	<label class="sr-only">DSU Certificate Number</label>
	      	<input name="code" type="number" min="0" step="1" class="form-control dsu_code" placeholder="DSU Certificate #">
	    </div>
	    <div class="col-auto">
	    	<div class="btn btn-danger remove-row"><i class="fa fa-fw fa-trash-alt"></i></div>
	    </div>
	    <div class="col result"></div>
	  </div>
	</form>
	
	
	<div class="form-row mt-3">
		<div class="col">
			<div class="btn btn-light" id="new_row">Add New Row</div>
			<div class="btn btn-primary" id="save_rows">Save DSUs</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$('form').dirtyForms();

	var template = $('#dsu_form .form-row:first').clone();

	$('#new_row').on('click', function(){
		var section = template.clone().appendTo('#dsu_form');
		return false;
	});

	// 
	$('body').on('click', '.remove-row', function() {
	    $(this).parent().fadeOut(300, function(){
	        $(this).parent().remove();
	        return false;
	    });
	    return false;
	});

	$('#save_rows').on('click', function(){
		//validate form
		if( ! $('#dsu_form').parsley().validate() ) { return false; } 


		//foreach form row
		$('#dsu_form>.form-row').each(function (e, t) {
			var row = $(t);
			// save all values entered
			name = row.find('.dsu_name').val();
			description = row.find('.dsu_description').val();
			code = row.find('.dsu_code').val();

			// send data to API & write success or error messages accordingly
			$.when( ee_challenge.addDSU(name, description, code) ).done( function(data, textStatus, jqXHR){
				//success message
				row.replaceWith('<div class="alert alert-success mt-2 mb-2">DSU Added</div>');
			}).fail(function(data, textStatus, jqXHR){
				//error message
				row.find('.result').find('.alert').remove();
				row.find('.result').append(`<div class="alert alert-danger">${data.responseText}</div>`);
			});
		});

		$('form').dirtyForms('setClean');
	});
</script>