<div class="card">
	<h1 class="card-title">DSU List</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Cert #</th>
			</tr>
		</thead>
		<tbody>
			{{#each this}}
			    <tr>
					<td>{{name}}</td>
					<td>{{description}}</td>
					<td>{{cert}}</td>
				</tr>
			{{/each}}			
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4"><a href="#add-dsu" class="btn btn-primary float-right mr-0">Add DSU</a></td>
			</tr>
		</tfoot>
	</table>
</div>