<div class="row mb-4">
	<div class="col">
		<div class="card">
			<h1 class="card-title border-bottom">Electricity Exchange Developer Challenge</h1>
			<p>This is my sumbission for the Electricity Exchange Developer Challenge.</p>
			<p>Contact details: <a href="mailto:aj@alanjohnson.ie">aj@alanjohnson.ie</a> or <a href="tel:+353860453714">086 045 3714</a> </p>
		</div>
	</div>
</div>

<div class="row row-eq-height mb-4">
	<div class="col">
		<div class="card">
			<h2 class="card-title border-bottom">Technologies Used</h2>
			<ul>
			    <li>Bootstrap 4</li>
			    <li>Handlebars.js</li>
			    <li>Fontawesome</li>
			    <li>jQuery</li>
			    <li>Google Web Fonts</li>
			</ul>
			<p>This project was coded in Sublime Text on Ubuntu</p>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<h2 class="card-title border-bottom">Setup</h2>
			<p>A set of compiled files are included, if you wish to re-compile the assets (only scss gets compiled) you will need to issue the following commands:</p>
			<ul class="list-unstyled">
				<li><code>npm install</code></li>
				<li><code>gulp</code></li>
			</ul>
			<p>A <code>gulp serve</code> command is also included which spins up a server that you can access at http://127.0.0.1:8888 - you don't have to use the included server but you do have to serve the index.html as opposed to just opening in a browser.</p>
			<p>You do need to have the front-end-api running at http://localhost:3000, if you have this running elsewhere you can change the apiURL value at the top of <code>js/main.js</code></p>
		</div>
	</div>
</div>


<div class="row row-eq-height mb-4">
	<div class="col">
		<div class="card">
			<h2 class="card-title border-bottom">Technical Decisions / Justifications</h2>
			<p>Your specification has a number of requirements that stood out, I will list them here &amp; describe the impact each had on the design decisions I made.</p>
			
			<h3>Loading pages without refreshing the page</h3>
			<p>As you require a single page application, I have implemented a very barebones router in javascript (based on https://github.com/jackvial/jquery-spa-example) that loads handlebars templates &amp; populates them with data retrieved from the API.</p>
			
			<h3>We do not want a packaged web application</h3>
			<p>Creating something robust would have been greatly simplified by using Angular CLI or another project seed, but as you don't want generated code, or a fully fledged web-app, I have implemented all functionality in jQuery. As such, we don't have any nice features like 2-way databinding, routing, testing, package management... and I can claim all bugs as my own.</p>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<h2 class="card-title border-bottom">Design Decisions / Justifications</h2>
			<p>I am a strong believer in a "less is more" design philosophy.</p>

			<h3>Fonts</h3>
			<p>As this is intended to be a professional application intended for use within businesses, I have opted for a professional font (Open Sans) from Google Web Fonts. Headings use a heavy weight, and body copy uses the lightest weight available which creates a nice contrast while not being too busy.</p>

			<h3>Colours</h3>
			<p>Again, professionalism is key here so we have a minimal palette with professional colours throughout. All text is nearly black, on an off-white background to reduce eye strain for the reader </p>

			<h3>Layout</h3>
			<p>I have opted for a full-width layout which is suitable for displaying lots of information, large tables of data, charts etc. This also affords us lots of flexibility when choosing how to layout pages.</p>
		</div>
	</div>
</div>

<div class="row row-eq-height mb-4 ">
	<div class="col">
		<div class="card">
			<h2 class="card-title border-bottom">Further Improvements</h2>
			<p><b>Responsive Design</b> this sample application is not optimised for display on mobile devices, while bootstrap has this functionality built in it has not been utilised here.</p>		
			<p><b>Build Process</b> at the moment, only bootstrap is being compiled when you run the default gulp task. Ideally, all JS libraries should be minified &amp; concatenated into a single source, HTML should be minified and any images should be optimised.</p>
			<p><b>Tight coupling</b> - some elements are tightly coupled, for example the code that retrieves the data from the API and renders the DSU/Site list templates. If this were an application intended for production it would be prudent to re-factor some elements.</p>
		</div>
	</div>
	<div class="col">
		<div class="card">
			<h2 class="card-title border-bottom">Challenge Deliverables (or lack thereof)</h2>
			<p><b>GIMP / Photoshop designs</b> I never create designs in gimp/photoshop, I usually go straight to static HTML for a number of reasons</p>
			<ul>
				<li>I'm not good at Photoshop, it's much faster for me to go straight to HTML.</li>
				<li>An interactive HTML mockup is more representative of what the final result will be like.</li>
				<li>HTML is interactive, you can click around interactive mockups &amp; get a much better idea of how functionality will work.</li>
				<li>Quicker turn around. Changing all heading sizes/colours is trivial in CSS (if you've written your CSS well), not so much in Photoshop.</li>
				<li>Multiple variations. Using modern build tools it's trivial to create multiple versions of the design with a range of colour schemes / font combinations.</li>
				<li>While trends in UI will change regularly, useful is forever. Your fancy frontend <i>will</i> look out of date in a few years, as such I feel it's much more important to get functionality nailed down correctly, then you can change your UI every couple of months if you so desire.</li>
			</ul>
		</div>
	</div>
</div>