<div class="card">
	<h1 class="card-title">Site List</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>DSU ID</th>
				<th>Name</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{{#each this}}
			    <tr>
					<td>{{dsuId}}</td>
					<td>{{name}}</td>
					<td>{{description}}</td>
				</tr>
			{{/each}}	
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"><a href="#add-site" class="btn btn-primary float-right">Add Site</a></td>
			</tr>
		</tfoot>
	</table>
</div>