


$theme-colors: (
  primary: #2474A6,
  danger: #E00B27,
  warning: #F2A30F
) !default;


$enable-rounded:            false !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;

