@import './_variables';
@import '../../node_modules/bootstrap/scss/bootstrap';


html {font-size: 19px;}

body {
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.55;
  color: #333;
  font-weight:300;
  letter-spacing:-0.1px;
}




h1, h2, h3, h4, h5, h6 {
  /*margin: 1.414em 0 0.5em;*/
  line-height: 1.2;
  font-weight:700;
  letter-spacing:-1px;
}
h1, h2{
  letter-spacing:-1.8px;
}
h1 {
  margin-top: 0;
  font-size: 2.441em;
}
h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
  letter-spacing:-0.3px;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
//  background-color: rgba(0,0,0,0.1);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  font-weight:900;
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.bg-blue{ background-color:#2474A6!important; }


/*
 *  Cards
 */

.card{
  padding:1em;
  border-radius:0;
  background-color:#f8f9fa;
  box-shadow:0 2px 2px rgba(0,0,0,0.2);
  height:100%;
  .card-title{
    padding-bottom:5px;
  }
  & > *:first-child{
    margin-top:0;
  }
  & > *:last-child{
    margin-bottom:0;
  }
}




/* 
  Forms
*/

form .alert{
  margin-bottom: 0;
  padding: 7px 16px 6px;
}

form .parsley-errors-list.filled{
  margin-bottom:0;
  font-size:0.75em;
  list-style:none;
  padding-left:0;
  color:var(--danger);
}